*.log
*.pid
*.seed
*.psd
*.ai
logs
*.zip
pids
lib-cov
coverage
build/Release
node_modules
.lock-wscript
dist/bundle.*
application/index.styl
test/builtSpecs
build/
magna.sublime-project
kpmg-magna.sublime-project
kpmg-magna.sublime-workspace
build.zip
src/bundle.css