logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
dist/bundle.*
application/index.styl
test/builtSpecs
build/
magna.sublime-project
kpmg-magna.sublime-project
kpmg-magna.sublime-workspace
build.zip