{{#items}}
${{name}} = {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}}
{{/items}}

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

{{#sprite}}
{{class}}
  background-image url('{{{escaped_image}}}')

center-sprite($sprite)
    position absolute
    top 20%
    left 50%
    margin-left -1 * (sprite-width($sprite) / 2)

center-hd-sprite($sprite)
  position absolute
  top 10%
  left 50%
  margin-left -1 * (sprite-width($sprite) / 2)

{{/sprite}}

{{#items}}
.icon-swatch.{{name}}
    @extend .icon
    sprite(${{name}})
    center-sprite(${{name}})
{{/items}}
