	</page-wrapper>
	
	<download-nav>
		<a href="@@downloadPath" class="icon-link download">Download PSD File</a>
	</download-nav>

	<footer>
		<p>&copy; Copyright M&amp;S 2015</p>
	</footer>

	<script src="bundle.js" type="text/javascript"></script>
	<!-- remove this for the dist build -->
	<script type='text/javascript' id="__bs_script__">
		/*jslint evil: true */ 
		//<![CDATA[
	    document.write('<script async src=\'//HOST:3000/browser-sync/browser-sync-client.2.0.1.js\'><\/script>'.replace(/HOST/g, location.hostname).replace(/PORT/g, location.port));
	    //]]>
	</script>
    </body>
</html>