
$alert
	display block
	border 1px solid green
	background-color successGreen
	text-align left

success-banner
	@extends $alert
	padding 3px 20px 3px 60px
	> *
		font-family 'Helvetica' 'Arial'
		color darkGrey
	
