// -----------------------------------------------------
// Page Setup
// -----------------------------------------------------
			
element-example-layout()
		
// -----------------------------------------------------		
// button stuff
// -----------------------------------------------------

button($color)
	display inline-block
	position relative
	border none
	color white
	margin 0
	padding 0 20px
	background-color $color
	user-select none
	cursor pointer
	height 45px
	font-size 15px
	
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	
	&.full-width
		width 100%
	
	&.hover-state
	&:hover
		background-color primaryCtaHoverColor
		
	&.active-state
	&:active
		background-color primaryCtaPressColor
		
	&:disabled
		background-color backgroundgrey
		color lightgrey
		cursor no-drop
		
	&[data-role=secondary]
		color darkgrey
		background-color white
		border 3px solid black
		
		&.hover-state
		&:hover
			color white
			background-color black
			
		&.active-state
		&:active
			color white
			background-color darkgrey
			border-color darkgrey
			
		&:disabled
			background-color backgroundgrey
			border-color backgroundgrey
			color lightgrey
			cursor no-drop
		
	&[data-role=tertiary]
		background-color white
		color darkgrey
		border 3px solid lightgrey
		
		&.hover-state
		&:hover
			background-color secondaryCtaBgColor
			
		&.active-state
		&:active
			background-color lightgrey
			border-color transparent
			
		&:disabled
			color lightgrey
			background-color backgroundgrey
			border-color backgroundgrey
			cursor no-drop
			
	&[data-role=checkout-button]
		height 48px
		font-size 18px

button
input[type=submit]
	button(darkgrey)
	
icon-button
	button(white)
	color darkgrey
	border 3px solid lightgrey
	padding-left 45px
	line-height 42px
	
	&:before
		@extend .icon
		sprite($gift-small)

		position absolute
		display block
		content ''
		top 10px
		left 18px
		
// -----------------------------------------------------		
// Tabs
// Using radios instead of buttons
// -----------------------------------------------------

tab-button-group
	display block
	border 3px solid black
	line-height 40px
	width 70%
	
	
	> label
		display inline-block
		margin 0
		padding 0 10%
		width 50%
		text-align center
		white-space nowrap
		text-overflow ellipsis
		
		&:first-child
			background-color black
			color white
		
		> input
			display none
			
$link-button
	font-size 0
	@extend .icon
	display inline-block
	text-decoration none
	border none
	
a[data-role=app-store-link]
	@extend $link-button
	sprite($apple-app-store)
	
a[data-role=google-play-link]
	@extend $link-button
	sprite($google-play)
	
