

green = #bdd755
red = #c4201d

// BUG!!
// darkGrey and mediumGrey appear to be getting swapped somehow
// It could be in the CSS, but I suspect a stylus bug
darkgrey = #333
mediumgrey = #999999
lightgrey = #cccccc
backgroundgrey = #f8f8f8 

successGreen = #f5f9e5
errorRed = #ea122a
errorPink = #fff3f4
warningYellow = #ffcd00
warningYellowBg = #ffffca
primaryCtaHoverColor = #a9c14b
primaryCtaPressColor = #9db346
secondaryCtaBgColor = #eeeeee

// If ever you need to iterate over colors, this should help
colorHash = {}
colorHash['black'] = black	
colorHash['dark-grey'] = darkgrey		
colorHash['medium-grey'] = mediumgrey	
colorHash['light-grey'] = lightgrey	
colorHash['background-grey'] = backgroundgrey			
colorHash['green'] = green		
colorHash['red'] = red		
colorHash['success-green'] = successGreen
colorHash['error-red'] = errorRed
colorHash['error-pink'] = errorPink
colorHash['warning-yellow'] = warningYellow
colorHash['warning-yellow-bg'] = warningYellowBg
colorHash['primary-cta-hover-color'] = primaryCtaHoverColor