
darkGrey = #333333
mediumGrey = #999999
lightGrey = #cccccc
backgroundGrey = #f8f8f8 

green = #bdd755
red = #c4201d

successGreen = #f5f9e5
errorRed = #ea122a
errorPink = #fff3f4
warningYellow = #ffcd00
warningYellowBg = #ffffca
primaryCtaHoverColor = #a9c14b
primaryCtaPressColor = #9db346
secondaryCtaBgColor = #eeeeee

// If ever you need to iterate over colors, this should help
colorHash = {}
colorHash['black'] = black	
colorHash['dark-grey'] = darkGrey		
colorHash['medium-grey'] = mediumGrey	
colorHash['light-grey'] = lightGrey	
colorHash['background-grey'] = backgroundGrey			
colorHash['green'] = green		
colorHash['red'] = red		
colorHash['success-green'] = successGreen
colorHash['error-red'] = errorRed
colorHash['error-pink'] = errorPink
colorHash['warning-yellow'] = warningYellow
colorHash['warning-yellow-bg'] = warningYellowBg
colorHash['primary-cta-hover-color'] = primaryCtaHoverColor