
darkGrey = #333333
mediumGrey = #999999
lightGrey = #cccccc
backgroundGrey = #f8f8f8 

green = #bdd755
red = #c4201d

successGreen = #f5f9e5
errorRed = #ea122a
errorPink = #fff3f4
warningYellow = #ffcd00
warningYellowBg = #ffffca
primaryCtaHoverColor = #a9c14b