two-column-block
	display block 
	center(pad: 19, cycle: 2)
	
	section
		col(1/2, gutter: 1.666667)
		
		+below(small)
			stack()
			
		p 
			width 75%

three-column-block
	display block 
	center(pad: 19, cycle: 3)
	
	section
		col(1/3, gutter: 1.666667)
		
		+below(small)
			stack()
			
		p 
			width 75%
			
