body, html 
	padding 0
	margin 0
	background-color #f8f8f8
	font-smoothing antialiased !important
	
* 
	box-sizing border-box

/* 
There's a bit of magic happening here with the `section` element.

We're using custom HTML elements (Yep, they're valid HTML5) and custom
elements need to have their display property set. Typically, you'll 
want them to be display block. And since we're making liberal use of the
section tag, we may as well assume that the first child of <section> should 
have it's display property set to `block`

In addition, we're using a different clear fix to the one Jeet reccomends.
*/
section
	> *
		display block
		center(pad: 10px, gutter: 1.66667 )
		text-align center
		
	> header 
		center(600px)
		+below(medium)
			center(pad: 20px)
		
	&:after
		content:"";
		display:table;
		clear:both
	
	
h1
	font-family 'MandS Leeds W03 Light'
	font-size 60px
	line-height 60px
	text-transform uppercase
	
h2, h2.leeds
	font-family 'MandS Leeds W03 Light'
	font-size 36px
	line-height 50px
	
h2.london
	font-family 'MandS London W01 Regular'
	
h3, h3.london
	font-family 'MandS London W01 Regular'
	font-size 25px
	line-height 35px

h3.leeds
	font-family 'MandS Leeds W03'
	
h4
	font-family 'MandS London W01 Regular'
	font-size 18px
	line-height 28px 
	

p
	font-family 'MandS London W01 Regular';
	font-size 15px
	color black
	line-height 22px

p.alternate
	color black
	font-size 13px
	line-height 20px
	
a 
	border-bottom 1px solid black
	text-decoration none
	color black
	
