body, html 
	padding 0
	margin 0
	background-color backgroundGrey
	font-smoothing antialiased !important
	
* 
	box-sizing border-box

section
	center(1200px)
	text-align center
	
h1
	font-family 'MandS Leeds W03 Light'
	font-size 60px
	line-height 60px
	
h2, h2.leeds
	font-family 'MandS Leeds W03 Light'
	font-size 36px
	line-height 50px
	
h2.london
	font-family 'MandS London W01 Regular'
	
h3
	font-family 'MandS London W01 Regular'
	font-size 25px
	line-height 35px
	
h4
	font-family 'MandS London W01 Regular'
	font-size 18px
	line-height 28px 
	

p
	font-family 'MandS London W01 Regular';
	font-size 15px
	color darkGrey
	line-height 22px

p.alternate
	color darkGrey
	font-size 13px
	line-height 20px