
img.mobile-nav
	max-width 320px
	
img.tablet-nav
	max-width 768px

img.side-nav-dlp
	max-width 219px
	
img.side-nav-plp
	max-width 321px
	
img.breadcrumb
img.breadcrumb-hover
	max-width 323px
	
img.pagination
	max-width 177px
	margin-top 50px
	margin-bottom 100px