/*
  DO NOT USE IN PRODUCTION

  This is a dirty quick fix for the icon set. In reality, the M&S website
  needs different sizes. Someone needs to make an icon font. 
*/

$account = -4px -4px + 1 26px 32px + 1
$add-address = -4px -44px + 1 26px 37px + 1
$add-card = -4px -89px + 1 32px 23px + 1
$adjust-waist = -4px -120px + 1 32px 32px + 1
$amex = -4px -160px + 1 50px 17px + 1
$arrow-down = -4px -185px + 1 33px 17px + 1
$arrow-left = -4px -210px + 1 17px 33px + 1
$arrow-right = -4px -251px + 1 17px 33px + 1
$arrow-up = -4px -292px + 1 33px 17px + 1
$attention = -4px -317px + 1 32px 29px + 1
$austria = -4px -354px + 1 32px 21px + 1
$baby-changing-alt = -4px -383px + 1 32px 32px + 1
$baby-changing = -4px -423px + 1 32px 32px + 1
$belgium = -4px -463px + 1 32px 21px + 1
$british-beef = -4px -492px + 1 34px 27px + 1
$calendar = -4px -527px + 1 32px 31px + 1
$car-parking-alt = -4px -566px + 1 32px 32px + 1
$car-parking = -4px -606px + 1 32px 32px + 1
$close = -4px -646px + 1 17px 17px + 1
$collect-by-car-alt = -4px -671px + 1 32px 32px + 1
$collect-by-car = -4px -711px + 1 32px 32px + 1
$collect-in-store = -4px -751px + 1 32px 22px + 1
$comments = -4px -781px + 1 32px 31px + 1
$communicate = -4px -820px + 1 32px 32px + 1
$confirmation = -4px -860px + 1 31px 31px + 1
$contact-phone = -4px -899px + 1 32px 32px + 1
$contact-post = -4px -939px + 1 30px 32px + 1
$contains-nuts = -4px -979px + 1 32px 32px + 1
$crease-resistant = -4px -1019px + 1 32px 33px + 1
$creating = -4px -1060px + 1 33px 32px + 1
$cross = -4px -1100px + 1 32px 32px + 1
$cruelty-free = -4px -1140px + 1 31px 32px + 1
$dairy-free = -4px -1180px + 1 32px 32px + 1
$delivery = -4px -1220px + 1 32px 20px + 1
$discovering = -4px -1248px + 1 32px 32px + 1
$disposal-recyl = -4px -1288px + 1 32px 27px + 1
$download = -4px -1323px + 1 32px 28px + 1
$easy-iron = -4px -1359px + 1 32px 32px + 1
$eat-well = -4px -1399px + 1 32px 32px + 1
$eco-factory = -4px -1439px + 1 32px 33px + 1
$edit = -4px -1480px + 1 31px 31px + 1
$email = -4px -1519px + 1 32px 23px + 1
$error = -4px -1550px + 1 31px 31px + 1
$expandicuff = -4px -1589px + 1 25px 25px + 1
$facebook = -4px -1622px + 1 17px 32px + 1
$fairtrade = -4px -1662px + 1 28px 32px + 1
$france = -4px -1702px + 1 32px 21px + 1
$freeze-able = -4px -1731px + 1 32px 33px + 1
$freshfeet = -4px -1772px + 1 32px 32px + 1
$full-screen-alt = -4px -1812px + 1 32px 32px + 1
$full-screen = -4px -1852px + 1 32px 32px + 1
$germany = -4px -1892px + 1 32px 21px + 1
$gift = -4px -1921px + 1 27px 32px + 1
$gluten-free = -4px -1961px + 1 32px 32px + 1
$google-plus = -4px -2001px + 1 32px 33px + 1
$imagining = -4px -2042px + 1 32px 32px + 1
$info = -4px -2082px + 1 31px 31px + 1
$instagram = -4px -2121px + 1 32px 33px + 1
$int-delivery = -4px -2162px + 1 32px 32px + 1
$investigating = -4px -2202px + 1 32px 32px + 1
$italy = -4px -2242px + 1 32px 21px + 1
$jcb = -4px -2271px + 1 31px 30px + 1
$loading = -4px -2309px + 1 31px 31px + 1
$loving-the-planet = -4px -2348px + 1 32px 30px + 1
$luxembourg = -4px -2386px + 1 32px 21px + 1
$maestro = -4px -2415px + 1 50px 30px + 1
$mands-budget--card = -4px -2453px + 1 50px 30px + 1
$mands-change-card = -4px -2491px + 1 49px 30px + 1
$mands-credit-card = -4px -2529px + 1 47px 30px + 1
$mands-debit-card = -4px -2567px + 1 50px 26px + 1
$map-marker = -4px -2601px + 1 23px 32px + 1
$mastercard = -4px -2641px + 1 50px 30px + 1
$menu = -4px -2679px + 1 32px 17px + 1
$mobile = -4px -2704px + 1 21px 32px + 1
$more = -4px -2744px + 1 32px 8px + 1
$netherlands = -4px -2760px + 1 32px 21px + 1
$new = -4px -2789px + 1 32px 15px + 1
$no-img-avail = -4px -2812px + 1 70px 70px + 1
$non-iron = -4px -2890px + 1 32px 32px + 1
$open-hours-wait = -4px -2930px + 1 31px 31px + 1
$open-window = -4px -2969px + 1 33px 32px + 1
$pause = -4px -3009px + 1 32px 32px + 1
$payment = -4px -3049px + 1 30px 32px + 1
$phone = -4px -3089px + 1 32px 32px + 1
$physical-dev = -4px -3129px + 1 32px 32px + 1
$pintrest = -4px -3169px + 1 27px 32px + 1
$play = -4px -3209px + 1 32px 33px + 1
$print = -4px -3250px + 1 32px 32px + 1
$prob-solving = -4px -3290px + 1 32px 33px + 1
$pure-cotton = -4px -3331px + 1 32px 33px + 1
$reading = -4px -3372px + 1 32px 33px + 1
$ready-to-cook = -4px -3413px + 1 32px 33px + 1
$ready-to-eat = -4px -3454px + 1 32px 33px + 1
$recently-viewed = -4px -3495px + 1 32px 29px + 1
$recipes = -4px -3532px + 1 32px 32px + 1
$returns-policy = -4px -3572px + 1 32px 24px + 1
$saved-items = -4px -3604px + 1 32px 29px + 1
$scan = -4px -3641px + 1 24px 32px + 1
$scruff-resist = -4px -3681px + 1 32px 33px + 1
$search = -4px -3722px + 1 31px 31px + 1
$serves = -4px -3761px + 1 32px 22px + 1
$shop = -4px -3791px + 1 32px 20px + 1
$shopping-bag = -4px -3819px + 1 26px 32px + 1
$sign-in-alt = -4px -3859px + 1 23px 32px + 1
$sign-in = -4px -3899px + 1 23px 32px + 1
$size-guide = -4px -3939px + 1 32px 32px + 1
$spain = -4px -3979px + 1 32px 21px + 1
$stainaway = -4px -4008px + 1 32px 33px + 1
$star = -4px -4049px + 1 32px 32px + 1
$stay-new = -4px -4089px + 1 32px 32px + 1
$store-locator = -4px -4129px + 1 23px 32px + 1
$stormwear = -4px -4169px + 1 32px 32px + 1
$supercrease = -4px -4209px + 1 32px 32px + 1
$tablet-hand = -4px -4249px + 1 20px 33px + 1
$tag-sale = -4px -4290px + 1 32px 32px + 1
$thinking = -4px -4330px + 1 32px 32px + 1
$tick = -4px -4370px + 1 32px 22px + 1
$toilet-alt = -4px -4400px + 1 32px 32px + 1
$toilet = -4px -4440px + 1 32px 32px + 1
$top-review = -4px -4480px + 1 24px 32px + 1
$twitter = -4px -4520px + 1 32px 29px + 1
$uk = -4px -4557px + 1 32px 21px + 1
$vegetarian = -4px -4586px + 1 32px 32px + 1
$visa-electron = -4px -4626px + 1 48px 30px + 1
$visa = -4px -4664px + 1 50px 17px + 1
$writing = -4px -4689px + 1 41px 41px + 1
$youtube = -4px -4738px + 1 31px 32px + 1
$zoom-alt = -4px -4778px + 1 31px 31px + 1
$zoom-out = -4px -4817px + 1 31px 31px + 1
$zoom = -4px -4856px + 1 31px 31px + 1

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('/images/icons-sd.png')

center-sprite($sprite)
    position absolute
    top 20%
    left 50%
    margin-left -1 * (sprite-width($sprite) / 2)

