$hd-account = -8px -8px 52px 64px
$hd-add-address = -8px -88px 52px 74px
$hd-add-card = -8px -178px 64px 46px
$hd-adjust-waist = -8px -240px 64px 64px
$hd-amex = -8px -320px 100px 34px
$hd-arrow-down-small = -8px -370px 20px 13px
$hd-arrow-down = -8px -399px 66px 34px
$hd-arrow-left = -8px -449px 34px 66px
$hd-arrow-right-small-white = -8px -531px 15px 24px
$hd-arrow-right-small = -8px -571px 15px 24px
$hd-arrow-right = -8px -611px 34px 66px
$hd-arrow-select = -8px -693px 24px 12px
$hd-arrow-up = -8px -721px 66px 34px
$hd-attention-yellow = -8px -771px 56px 48px
$hd-attention = -8px -835px 64px 58px
$hd-austria = -8px -909px 64px 42px
$hd-baby-changing-alt = -8px -967px 64px 64px
$hd-baby-changing = -8px -1047px 64px 64px
$hd-belgium = -8px -1127px 64px 42px
$hd-british-beef = -8px -1185px 66px 52px
$hd-calendar = -8px -1253px 64px 62px
$hd-car-parking-alt = -8px -1331px 64px 64px
$hd-car-parking = -8px -1411px 64px 64px
$hd-check = -8px -1491px 16px 16px
$hd-close = -8px -1523px 42px 42px
$hd-collect-by-car-alt = -8px -1581px 64px 64px
$hd-collect-by-car = -8px -1661px 64px 64px
$hd-collect-in-store = -8px -1741px 64px 44px
$hd-comments = -8px -1801px 64px 62px
$hd-communicate = -8px -1879px 64px 64px
$hd-confirmation = -8px -1959px 62px 62px
$hd-contact-phone = -8px -2037px 64px 64px
$hd-contact-post = -8px -2117px 60px 64px
$hd-contains-nuts = -8px -2197px 64px 64px
$hd-crease-resistant = -8px -2277px 64px 66px
$hd-creating = -8px -2359px 66px 64px
$hd-cross = -8px -2439px 64px 64px
$hd-cruelty-free = -8px -2519px 62px 64px
$hd-dairy-free = -8px -2599px 64px 64px
$hd-delivery-small = -8px -2679px 42px 26px
$hd-delivery = -8px -2721px 64px 40px
$hd-discovering = -8px -2777px 64px 64px
$hd-disposal-recyl = -8px -2857px 64px 54px
$hd-download-small = -8px -2927px 64px 56px
$hd-download-white = -8px -2999px 82px 70px
$hd-download = -8px -3085px 82px 70px
$hd-easy-iron = -8px -3171px 64px 64px
$hd-eat-well = -8px -3251px 64px 64px
$hd-eco-factory = -8px -3331px 64px 65px
$hd-edit = -8px -3412px 62px 62px
$hd-email = -8px -3490px 64px 46px
$hd-error = -8px -3552px 62px 62px
$hd-expandicuff = -8px -3630px 50px 50px
$hd-facebook = -8px -3696px 34px 64px
$hd-fairtrade = -8px -3776px 56px 64px
$hd-france = -8px -3856px 64px 42px
$hd-freeze-able = -8px -3914px 64px 66px
$hd-freshfeet = -8px -3996px 64px 64px
$hd-full-screen-alt = -8px -4076px 64px 64px
$hd-full-screen = -8px -4156px 64px 64px
$hd-germany = -8px -4236px 64px 42px
$hd-gift-small = -8px -4294px 26px 32px
$hd-gift = -8px -4342px 54px 64px
$hd-gluten-free = -8px -4422px 64px 64px
$hd-google-plus = -8px -4502px 64px 66px
$hd-imagining = -8px -4584px 64px 64px
$hd-info = -8px -4664px 62px 62px
$hd-instagram = -8px -4742px 64px 66px
$hd-int-delivery = -8px -4824px 64px 64px
$hd-investigating = -8px -4904px 64px 64px
$hd-italy = -8px -4984px 64px 42px
$hd-jcb = -8px -5042px 62px 60px
$hd-loading = -8px -5118px 62px 62px
$hd-loving-the-planet = -8px -5196px 64px 60px
$hd-luxembourg = -8px -5272px 64px 42px
$hd-maestro = -8px -5330px 100px 60px
$hd-mands-budget-card = -8px -5406px 100px 60px
$hd-mands-change-card = -8px -5482px 98px 60px
$hd-mands-credit-card = -8px -5558px 94px 60px
$hd-mands-debit-card = -8px -5634px 100px 52px
$hd-map-marker = -8px -5702px 46px 64px
$hd-mastercard = -8px -5782px 100px 60px
$hd-menu = -8px -5858px 64px 34px
$hd-mobile = -8px -5908px 42px 64px
$hd-more = -8px -5988px 64px 16px
$hd-netherlands = -8px -6020px 64px 42px
$hd-new = -8px -6078px 64px 30px
$hd-no-img-avail = -8px -6124px 140px 140px
$hd-non-iron = -8px -6280px 64px 64px
$hd-open-hours-wait = -8px -6360px 62px 62px
$hd-open-window = -8px -6438px 66px 64px
$hd-pause = -8px -6518px 64px 64px
$hd-payment = -8px -6598px 60px 64px
$hd-phone = -8px -6678px 64px 64px
$hd-physical-dev = -8px -6758px 64px 64px
$hd-pintrest = -8px -6838px 54px 64px
$hd-play = -8px -6918px 64px 66px
$hd-print = -8px -7000px 64px 64px
$hd-prob-solving = -8px -7080px 64px 66px
$hd-pure-cotton = -8px -7162px 64px 66px
$hd-reading = -8px -7244px 64px 66px
$hd-ready-to-cook = -8px -7326px 64px 66px
$hd-ready-to-eat = -8px -7408px 64px 66px
$hd-recently-viewed = -8px -7490px 64px 58px
$hd-recipes = -8px -7564px 64px 64px
$hd-returns-policy = -8px -7644px 64px 48px
$hd-saved-items = -8px -7708px 64px 58px
$hd-scan = -8px -7782px 48px 64px
$hd-scruff-resist = -8px -7862px 64px 66px
$hd-search = -8px -7944px 62px 62px
$hd-serves = -8px -8022px 64px 44px
$hd-shop = -8px -8082px 64px 40px
$hd-shopping-bag = -8px -8138px 52px 64px
$hd-sign-in-alt = -8px -8218px 46px 64px
$hd-sign-in = -8px -8298px 46px 64px
$hd-size-guide = -8px -8378px 64px 64px
$hd-spain = -8px -8458px 64px 42px
$hd-stainaway = -8px -8516px 64px 66px
$hd-star = -8px -8598px 64px 64px
$hd-stay-new = -8px -8678px 64px 64px
$hd-store-locator = -8px -8758px 46px 64px
$hd-stormwear = -8px -8838px 64px 64px
$hd-supercrease = -8px -8918px 64px 64px
$hd-tablet-hand = -8px -8998px 40px 66px
$hd-tag-sale = -8px -9080px 64px 64px
$hd-thinking = -8px -9160px 64px 64px
$hd-tick = -8px -9240px 64px 44px
$hd-toilet-alt = -8px -9300px 64px 64px
$hd-toilet = -8px -9380px 64px 64px
$hd-top-review = -8px -9460px 48px 64px
$hd-twitter = -8px -9540px 64px 58px
$hd-uk = -8px -9614px 64px 42px
$hd-vegetarian = -8px -9672px 64px 64px
$hd-visa-electron = -8px -9752px 96px 60px
$hd-visa = -8px -9828px 100px 34px
$hd-writing = -8px -9878px 82px 82px
$hd-youtube = -8px -9976px 62px 64px
$hd-zoom-alt = -8px -10056px 62px 62px
$hd-zoom-out = -8px -10134px 62px 62px
$hd-zoom = -8px -10212px 62px 62px

+density(retina)
    .icon
        background-image url('/images/icons-hd.png')
        transform scale(0.5)

    .icon-swatch.account
        @extend .icon
        sprite($hd-account)
        center-hd-sprite($hd-account)
    .icon-swatch.add-address
        @extend .icon
        sprite($hd-add-address)
        center-hd-sprite($hd-add-address)
    .icon-swatch.add-card
        @extend .icon
        sprite($hd-add-card)
        center-hd-sprite($hd-add-card)
    .icon-swatch.adjust-waist
        @extend .icon
        sprite($hd-adjust-waist)
        center-hd-sprite($hd-adjust-waist)
    .icon-swatch.amex
        @extend .icon
        sprite($hd-amex)
        center-hd-sprite($hd-amex)
    .icon-swatch.arrow-down-small
        @extend .icon
        sprite($hd-arrow-down-small)
        center-hd-sprite($hd-arrow-down-small)
    .icon-swatch.arrow-down
        @extend .icon
        sprite($hd-arrow-down)
        center-hd-sprite($hd-arrow-down)
    .icon-swatch.arrow-left
        @extend .icon
        sprite($hd-arrow-left)
        center-hd-sprite($hd-arrow-left)
    .icon-swatch.arrow-right-small-white
        @extend .icon
        sprite($hd-arrow-right-small-white)
        center-hd-sprite($hd-arrow-right-small-white)
    .icon-swatch.arrow-right-small
        @extend .icon
        sprite($hd-arrow-right-small)
        center-hd-sprite($hd-arrow-right-small)
    .icon-swatch.arrow-right
        @extend .icon
        sprite($hd-arrow-right)
        center-hd-sprite($hd-arrow-right)
    .icon-swatch.arrow-select
        @extend .icon
        sprite($hd-arrow-select)
        center-hd-sprite($hd-arrow-select)
    .icon-swatch.arrow-up
        @extend .icon
        sprite($hd-arrow-up)
        center-hd-sprite($hd-arrow-up)
    .icon-swatch.attention-yellow
        @extend .icon
        sprite($hd-attention-yellow)
        center-hd-sprite($hd-attention-yellow)
    .icon-swatch.attention
        @extend .icon
        sprite($hd-attention)
        center-hd-sprite($hd-attention)
    .icon-swatch.austria
        @extend .icon
        sprite($hd-austria)
        center-hd-sprite($hd-austria)
    .icon-swatch.baby-changing-alt
        @extend .icon
        sprite($hd-baby-changing-alt)
        center-hd-sprite($hd-baby-changing-alt)
    .icon-swatch.baby-changing
        @extend .icon
        sprite($hd-baby-changing)
        center-hd-sprite($hd-baby-changing)
    .icon-swatch.belgium
        @extend .icon
        sprite($hd-belgium)
        center-hd-sprite($hd-belgium)
    .icon-swatch.british-beef
        @extend .icon
        sprite($hd-british-beef)
        center-hd-sprite($hd-british-beef)
    .icon-swatch.calendar
        @extend .icon
        sprite($hd-calendar)
        center-hd-sprite($hd-calendar)
    .icon-swatch.car-parking-alt
        @extend .icon
        sprite($hd-car-parking-alt)
        center-hd-sprite($hd-car-parking-alt)
    .icon-swatch.car-parking
        @extend .icon
        sprite($hd-car-parking)
        center-hd-sprite($hd-car-parking)
    .icon-swatch.check
        @extend .icon
        sprite($hd-check)
        center-hd-sprite($hd-check)
    .icon-swatch.close
        @extend .icon
        sprite($hd-close)
        center-hd-sprite($hd-close)
    .icon-swatch.collect-by-car-alt
        @extend .icon
        sprite($hd-collect-by-car-alt)
        center-hd-sprite($hd-collect-by-car-alt)
    .icon-swatch.collect-by-car
        @extend .icon
        sprite($hd-collect-by-car)
        center-hd-sprite($hd-collect-by-car)
    .icon-swatch.collect-in-store
        @extend .icon
        sprite($hd-collect-in-store)
        center-hd-sprite($hd-collect-in-store)
    .icon-swatch.comments
        @extend .icon
        sprite($hd-comments)
        center-hd-sprite($hd-comments)
    .icon-swatch.communicate
        @extend .icon
        sprite($hd-communicate)
        center-hd-sprite($hd-communicate)
    .icon-swatch.confirmation
        @extend .icon
        sprite($hd-confirmation)
        center-hd-sprite($hd-confirmation)
    .icon-swatch.contact-phone
        @extend .icon
        sprite($hd-contact-phone)
        center-hd-sprite($hd-contact-phone)
    .icon-swatch.contact-post
        @extend .icon
        sprite($hd-contact-post)
        center-hd-sprite($hd-contact-post)
    .icon-swatch.contains-nuts
        @extend .icon
        sprite($hd-contains-nuts)
        center-hd-sprite($hd-contains-nuts)
    .icon-swatch.crease-resistant
        @extend .icon
        sprite($hd-crease-resistant)
        center-hd-sprite($hd-crease-resistant)
    .icon-swatch.creating
        @extend .icon
        sprite($hd-creating)
        center-hd-sprite($hd-creating)
    .icon-swatch.cross
        @extend .icon
        sprite($hd-cross)
        center-hd-sprite($hd-cross)
    .icon-swatch.cruelty-free
        @extend .icon
        sprite($hd-cruelty-free)
        center-hd-sprite($hd-cruelty-free)
    .icon-swatch.dairy-free
        @extend .icon
        sprite($hd-dairy-free)
        center-hd-sprite($hd-dairy-free)
    .icon-swatch.delivery-small
        @extend .icon
        sprite($hd-delivery-small)
        center-hd-sprite($hd-delivery-small)
    .icon-swatch.delivery
        @extend .icon
        sprite($hd-delivery)
        center-hd-sprite($hd-delivery)
    .icon-swatch.discovering
        @extend .icon
        sprite($hd-discovering)
        center-hd-sprite($hd-discovering)
    .icon-swatch.disposal-recyl
        @extend .icon
        sprite($hd-disposal-recyl)
        center-hd-sprite($hd-disposal-recyl)
    .icon-swatch.download-small
        @extend .icon
        sprite($hd-download-small)
        center-hd-sprite($hd-download-small)
    .icon-swatch.download-white
        @extend .icon
        sprite($hd-download-white)
        center-hd-sprite($hd-download-white)
    .icon-swatch.download
        @extend .icon
        sprite($hd-download)
        center-hd-sprite($hd-download)
    .icon-swatch.easy-iron
        @extend .icon
        sprite($hd-easy-iron)
        center-hd-sprite($hd-easy-iron)
    .icon-swatch.eat-well
        @extend .icon
        sprite($hd-eat-well)
        center-hd-sprite($hd-eat-well)
    .icon-swatch.eco-factory
        @extend .icon
        sprite($hd-eco-factory)
        center-hd-sprite($hd-eco-factory)
    .icon-swatch.edit
        @extend .icon
        sprite($hd-edit)
        center-hd-sprite($hd-edit)
    .icon-swatch.email
        @extend .icon
        sprite($hd-email)
        center-hd-sprite($hd-email)
    .icon-swatch.error
        @extend .icon
        sprite($hd-error)
        center-hd-sprite($hd-error)
    .icon-swatch.expandicuff
        @extend .icon
        sprite($hd-expandicuff)
        center-hd-sprite($hd-expandicuff)
    .icon-swatch.facebook
        @extend .icon
        sprite($hd-facebook)
        center-hd-sprite($hd-facebook)
    .icon-swatch.fairtrade
        @extend .icon
        sprite($hd-fairtrade)
        center-hd-sprite($hd-fairtrade)
    .icon-swatch.france
        @extend .icon
        sprite($hd-france)
        center-hd-sprite($hd-france)
    .icon-swatch.freeze-able
        @extend .icon
        sprite($hd-freeze-able)
        center-hd-sprite($hd-freeze-able)
    .icon-swatch.freshfeet
        @extend .icon
        sprite($hd-freshfeet)
        center-hd-sprite($hd-freshfeet)
    .icon-swatch.full-screen-alt
        @extend .icon
        sprite($hd-full-screen-alt)
        center-hd-sprite($hd-full-screen-alt)
    .icon-swatch.full-screen
        @extend .icon
        sprite($hd-full-screen)
        center-hd-sprite($hd-full-screen)
    .icon-swatch.germany
        @extend .icon
        sprite($hd-germany)
        center-hd-sprite($hd-germany)
    .icon-swatch.gift-small
        @extend .icon
        sprite($hd-gift-small)
        center-hd-sprite($hd-gift-small)
    .icon-swatch.gift
        @extend .icon
        sprite($hd-gift)
        center-hd-sprite($hd-gift)
    .icon-swatch.gluten-free
        @extend .icon
        sprite($hd-gluten-free)
        center-hd-sprite($hd-gluten-free)
    .icon-swatch.google-plus
        @extend .icon
        sprite($hd-google-plus)
        center-hd-sprite($hd-google-plus)
    .icon-swatch.imagining
        @extend .icon
        sprite($hd-imagining)
        center-hd-sprite($hd-imagining)
    .icon-swatch.info
        @extend .icon
        sprite($hd-info)
        center-hd-sprite($hd-info)
    .icon-swatch.instagram
        @extend .icon
        sprite($hd-instagram)
        center-hd-sprite($hd-instagram)
    .icon-swatch.int-delivery
        @extend .icon
        sprite($hd-int-delivery)
        center-hd-sprite($hd-int-delivery)
    .icon-swatch.investigating
        @extend .icon
        sprite($hd-investigating)
        center-hd-sprite($hd-investigating)
    .icon-swatch.italy
        @extend .icon
        sprite($hd-italy)
        center-hd-sprite($hd-italy)
    .icon-swatch.jcb
        @extend .icon
        sprite($hd-jcb)
        center-hd-sprite($hd-jcb)
    .icon-swatch.loading
        @extend .icon
        sprite($hd-loading)
        center-hd-sprite($hd-loading)
    .icon-swatch.loving-the-planet
        @extend .icon
        sprite($hd-loving-the-planet)
        center-hd-sprite($hd-loving-the-planet)
    .icon-swatch.luxembourg
        @extend .icon
        sprite($hd-luxembourg)
        center-hd-sprite($hd-luxembourg)
    .icon-swatch.maestro
        @extend .icon
        sprite($hd-maestro)
        center-hd-sprite($hd-maestro)
    .icon-swatch.mands-budget-card
        @extend .icon
        sprite($hd-mands-budget-card)
        center-hd-sprite($hd-mands-budget-card)
    .icon-swatch.mands-change-card
        @extend .icon
        sprite($hd-mands-change-card)
        center-hd-sprite($hd-mands-change-card)
    .icon-swatch.mands-credit-card
        @extend .icon
        sprite($hd-mands-credit-card)
        center-hd-sprite($hd-mands-credit-card)
    .icon-swatch.mands-debit-card
        @extend .icon
        sprite($hd-mands-debit-card)
        center-hd-sprite($hd-mands-debit-card)
    .icon-swatch.map-marker
        @extend .icon
        sprite($hd-map-marker)
        center-hd-sprite($hd-map-marker)
    .icon-swatch.mastercard
        @extend .icon
        sprite($hd-mastercard)
        center-hd-sprite($hd-mastercard)
    .icon-swatch.menu
        @extend .icon
        sprite($hd-menu)
        center-hd-sprite($hd-menu)
    .icon-swatch.mobile
        @extend .icon
        sprite($hd-mobile)
        center-hd-sprite($hd-mobile)
    .icon-swatch.more
        @extend .icon
        sprite($hd-more)
        center-hd-sprite($hd-more)
    .icon-swatch.netherlands
        @extend .icon
        sprite($hd-netherlands)
        center-hd-sprite($hd-netherlands)
    .icon-swatch.new
        @extend .icon
        sprite($hd-new)
        center-hd-sprite($hd-new)
    .icon-swatch.no-img-avail
        @extend .icon
        sprite($hd-no-img-avail)
        center-hd-sprite($hd-no-img-avail)
    .icon-swatch.non-iron
        @extend .icon
        sprite($hd-non-iron)
        center-hd-sprite($hd-non-iron)
    .icon-swatch.open-hours-wait
        @extend .icon
        sprite($hd-open-hours-wait)
        center-hd-sprite($hd-open-hours-wait)
    .icon-swatch.open-window
        @extend .icon
        sprite($hd-open-window)
        center-hd-sprite($hd-open-window)
    .icon-swatch.pause
        @extend .icon
        sprite($hd-pause)
        center-hd-sprite($hd-pause)
    .icon-swatch.payment
        @extend .icon
        sprite($hd-payment)
        center-hd-sprite($hd-payment)
    .icon-swatch.phone
        @extend .icon
        sprite($hd-phone)
        center-hd-sprite($hd-phone)
    .icon-swatch.physical-dev
        @extend .icon
        sprite($hd-physical-dev)
        center-hd-sprite($hd-physical-dev)
    .icon-swatch.pintrest
        @extend .icon
        sprite($hd-pintrest)
        center-hd-sprite($hd-pintrest)
    .icon-swatch.play
        @extend .icon
        sprite($hd-play)
        center-hd-sprite($hd-play)
    .icon-swatch.print
        @extend .icon
        sprite($hd-print)
        center-hd-sprite($hd-print)
    .icon-swatch.prob-solving
        @extend .icon
        sprite($hd-prob-solving)
        center-hd-sprite($hd-prob-solving)
    .icon-swatch.pure-cotton
        @extend .icon
        sprite($hd-pure-cotton)
        center-hd-sprite($hd-pure-cotton)
    .icon-swatch.reading
        @extend .icon
        sprite($hd-reading)
        center-hd-sprite($hd-reading)
    .icon-swatch.ready-to-cook
        @extend .icon
        sprite($hd-ready-to-cook)
        center-hd-sprite($hd-ready-to-cook)
    .icon-swatch.ready-to-eat
        @extend .icon
        sprite($hd-ready-to-eat)
        center-hd-sprite($hd-ready-to-eat)
    .icon-swatch.recently-viewed
        @extend .icon
        sprite($hd-recently-viewed)
        center-hd-sprite($hd-recently-viewed)
    .icon-swatch.recipes
        @extend .icon
        sprite($hd-recipes)
        center-hd-sprite($hd-recipes)
    .icon-swatch.returns-policy
        @extend .icon
        sprite($hd-returns-policy)
        center-hd-sprite($hd-returns-policy)
    .icon-swatch.saved-items
        @extend .icon
        sprite($hd-saved-items)
        center-hd-sprite($hd-saved-items)
    .icon-swatch.scan
        @extend .icon
        sprite($hd-scan)
        center-hd-sprite($hd-scan)
    .icon-swatch.scruff-resist
        @extend .icon
        sprite($hd-scruff-resist)
        center-hd-sprite($hd-scruff-resist)
    .icon-swatch.search
        @extend .icon
        sprite($hd-search)
        center-hd-sprite($hd-search)
    .icon-swatch.serves
        @extend .icon
        sprite($hd-serves)
        center-hd-sprite($hd-serves)
    .icon-swatch.shop
        @extend .icon
        sprite($hd-shop)
        center-hd-sprite($hd-shop)
    .icon-swatch.shopping-bag
        @extend .icon
        sprite($hd-shopping-bag)
        center-hd-sprite($hd-shopping-bag)
    .icon-swatch.sign-in-alt
        @extend .icon
        sprite($hd-sign-in-alt)
        center-hd-sprite($hd-sign-in-alt)
    .icon-swatch.sign-in
        @extend .icon
        sprite($hd-sign-in)
        center-hd-sprite($hd-sign-in)
    .icon-swatch.size-guide
        @extend .icon
        sprite($hd-size-guide)
        center-hd-sprite($hd-size-guide)
    .icon-swatch.spain
        @extend .icon
        sprite($hd-spain)
        center-hd-sprite($hd-spain)
    .icon-swatch.stainaway
        @extend .icon
        sprite($hd-stainaway)
        center-hd-sprite($hd-stainaway)
    .icon-swatch.star
        @extend .icon
        sprite($hd-star)
        center-hd-sprite($hd-star)
    .icon-swatch.stay-new
        @extend .icon
        sprite($hd-stay-new)
        center-hd-sprite($hd-stay-new)
    .icon-swatch.store-locator
        @extend .icon
        sprite($hd-store-locator)
        center-hd-sprite($hd-store-locator)
    .icon-swatch.stormwear
        @extend .icon
        sprite($hd-stormwear)
        center-hd-sprite($hd-stormwear)
    .icon-swatch.supercrease
        @extend .icon
        sprite($hd-supercrease)
        center-hd-sprite($hd-supercrease)
    .icon-swatch.tablet-hand
        @extend .icon
        sprite($hd-tablet-hand)
        center-hd-sprite($hd-tablet-hand)
    .icon-swatch.tag-sale
        @extend .icon
        sprite($hd-tag-sale)
        center-hd-sprite($hd-tag-sale)
    .icon-swatch.thinking
        @extend .icon
        sprite($hd-thinking)
        center-hd-sprite($hd-thinking)
    .icon-swatch.tick
        @extend .icon
        sprite($hd-tick)
        center-hd-sprite($hd-tick)
    .icon-swatch.toilet-alt
        @extend .icon
        sprite($hd-toilet-alt)
        center-hd-sprite($hd-toilet-alt)
    .icon-swatch.toilet
        @extend .icon
        sprite($hd-toilet)
        center-hd-sprite($hd-toilet)
    .icon-swatch.top-review
        @extend .icon
        sprite($hd-top-review)
        center-hd-sprite($hd-top-review)
    .icon-swatch.twitter
        @extend .icon
        sprite($hd-twitter)
        center-hd-sprite($hd-twitter)
    .icon-swatch.uk
        @extend .icon
        sprite($hd-uk)
        center-hd-sprite($hd-uk)
    .icon-swatch.vegetarian
        @extend .icon
        sprite($hd-vegetarian)
        center-hd-sprite($hd-vegetarian)
    .icon-swatch.visa-electron
        @extend .icon
        sprite($hd-visa-electron)
        center-hd-sprite($hd-visa-electron)
    .icon-swatch.visa
        @extend .icon
        sprite($hd-visa)
        center-hd-sprite($hd-visa)
    .icon-swatch.writing
        @extend .icon
        sprite($hd-writing)
        center-hd-sprite($hd-writing)
    .icon-swatch.youtube
        @extend .icon
        sprite($hd-youtube)
        center-hd-sprite($hd-youtube)
    .icon-swatch.zoom-alt
        @extend .icon
        sprite($hd-zoom-alt)
        center-hd-sprite($hd-zoom-alt)
    .icon-swatch.zoom-out
        @extend .icon
        sprite($hd-zoom-out)
        center-hd-sprite($hd-zoom-out)
    .icon-swatch.zoom
        @extend .icon
        sprite($hd-zoom)
        center-hd-sprite($hd-zoom)

