$account = -4px -4px 26px 32px
$add-address = -4px -44px 26px 37px
$add-card = -4px -89px 32px 23px
$adjust-waist = -4px -120px 32px 32px
$amex = -4px -160px 50px 17px
$arrow-down-small = -4px -185px 10px 7px
$arrow-down = -4px -200px 33px 17px
$arrow-left = -4px -225px 17px 33px
$arrow-right-small-white = -4px -266px 8px 12px
$arrow-right-small = -4px -286px 8px 12px
$arrow-right = -4px -306px 17px 33px
$arrow-select = -4px -347px 12px 6px
$arrow-up = -4px -361px 33px 17px
$attention-yellow = -4px -386px 28px 24px
$attention = -4px -418px 32px 29px
$austria = -4px -455px 32px 21px
$baby-changing-alt = -4px -484px 32px 32px
$baby-changing = -4px -524px 32px 32px
$belgium = -4px -564px 32px 21px
$british-beef = -4px -593px 34px 27px
$calendar = -4px -628px 32px 31px
$car-parking-alt = -4px -667px 32px 32px
$car-parking = -4px -707px 32px 32px
$check = -4px -747px 8px 8px
$close = -4px -763px 17px 17px
$collect-by-car-alt = -4px -788px 32px 32px
$collect-by-car = -4px -828px 32px 32px
$collect-in-store = -4px -868px 32px 22px
$comments = -4px -898px 32px 31px
$communicate = -4px -937px 32px 32px
$confirmation = -4px -977px 31px 31px
$contact-phone = -4px -1016px 32px 32px
$contact-post = -4px -1056px 30px 32px
$contains-nuts = -4px -1096px 32px 32px
$crease-resistant = -4px -1136px 32px 33px
$creating = -4px -1177px 33px 32px
$cross = -4px -1217px 32px 32px
$cruelty-free = -4px -1257px 31px 32px
$dairy-free = -4px -1297px 32px 32px
$delivery-small = -4px -1337px 21px 13px
$delivery = -4px -1358px 32px 20px
$discovering = -4px -1386px 32px 32px
$disposal-recyl = -4px -1426px 32px 27px
$download-small = -4px -1461px 32px 28px
$download-white = -4px -1497px 41px 35px
$download = -4px -1540px 32px 28px
$easy-iron = -4px -1576px 32px 32px
$eat-well = -4px -1616px 32px 32px
$eco-factory = -4px -1656px 32px 33px
$edit = -4px -1697px 31px 31px
$email = -4px -1736px 32px 23px
$error = -4px -1767px 31px 31px
$expandicuff = -4px -1806px 25px 25px
$facebook = -4px -1839px 17px 32px
$fairtrade = -4px -1879px 28px 32px
$france = -4px -1919px 32px 21px
$freeze-able = -4px -1948px 32px 33px
$freshfeet = -4px -1989px 32px 32px
$full-screen-alt = -4px -2029px 32px 32px
$full-screen = -4px -2069px 32px 32px
$germany = -4px -2109px 32px 21px
$gift-small = -4px -2138px 13px 16px
$gift = -4px -2162px 27px 32px
$gluten-free = -4px -2202px 32px 32px
$google-plus = -4px -2242px 32px 33px
$imagining = -4px -2283px 32px 32px
$info = -4px -2323px 31px 31px
$instagram = -4px -2362px 32px 33px
$int-delivery = -4px -2403px 32px 32px
$investigating = -4px -2443px 32px 32px
$italy = -4px -2483px 32px 21px
$jcb = -4px -2512px 31px 30px
$loading = -4px -2550px 31px 31px
$loving-the-planet = -4px -2589px 32px 30px
$luxembourg = -4px -2627px 32px 21px
$maestro = -4px -2656px 50px 30px
$mands-budget-card = -4px -2694px 50px 30px
$mands-change-card = -4px -2732px 49px 30px
$mands-credit-card = -4px -2770px 47px 30px
$mands-debit-card = -4px -2808px 50px 26px
$map-marker = -4px -2842px 23px 32px
$mastercard = -4px -2882px 50px 30px
$menu = -4px -2920px 32px 17px
$mobile = -4px -2945px 21px 32px
$more = -4px -2985px 32px 8px
$netherlands = -4px -3001px 32px 21px
$new = -4px -3030px 32px 15px
$no-img-avail = -4px -3053px 70px 70px
$non-iron = -4px -3131px 32px 32px
$open-hours-wait = -4px -3171px 31px 31px
$open-window = -4px -3210px 33px 32px
$pause = -4px -3250px 32px 32px
$payment = -4px -3290px 30px 32px
$phone = -4px -3330px 32px 32px
$physical-dev = -4px -3370px 32px 32px
$pintrest = -4px -3410px 27px 32px
$play = -4px -3450px 32px 33px
$print = -4px -3491px 32px 32px
$prob-solving = -4px -3531px 32px 33px
$pure-cotton = -4px -3572px 32px 33px
$reading = -4px -3613px 32px 33px
$ready-to-cook = -4px -3654px 32px 33px
$ready-to-eat = -4px -3695px 32px 33px
$recently-viewed = -4px -3736px 32px 29px
$recipes = -4px -3773px 32px 32px
$returns-policy = -4px -3813px 32px 24px
$saved-items = -4px -3845px 32px 29px
$scan = -4px -3882px 24px 32px
$scruff-resist = -4px -3922px 32px 33px
$search = -4px -3963px 31px 31px
$serves = -4px -4002px 32px 22px
$shop = -4px -4032px 32px 20px
$shopping-bag = -4px -4060px 26px 32px
$sign-in-alt = -4px -4100px 23px 32px
$sign-in = -4px -4140px 23px 32px
$size-guide = -4px -4180px 32px 32px
$spain = -4px -4220px 32px 21px
$stainaway = -4px -4249px 32px 33px
$star = -4px -4290px 32px 32px
$stay-new = -4px -4330px 32px 32px
$store-locator = -4px -4370px 23px 32px
$stormwear = -4px -4410px 32px 32px
$supercrease = -4px -4450px 32px 32px
$tablet-hand = -4px -4490px 20px 33px
$tag-sale = -4px -4531px 32px 32px
$thinking = -4px -4571px 32px 32px
$tick = -4px -4611px 32px 22px
$toilet-alt = -4px -4641px 32px 32px
$toilet = -4px -4681px 32px 32px
$top-review = -4px -4721px 24px 32px
$twitter = -4px -4761px 32px 29px
$uk = -4px -4798px 32px 21px
$vegetarian = -4px -4827px 32px 32px
$visa-electron = -4px -4867px 48px 30px
$visa = -4px -4905px 50px 17px
$writing = -4px -4930px 41px 41px
$youtube = -4px -4979px 31px 32px
$zoom-alt = -4px -5019px 31px 31px
$zoom-out = -4px -5058px 31px 31px
$zoom = -4px -5097px 31px 31px

sprite-width($sprite)
  width $sprite[2]

sprite-height($sprite)
  height $sprite[3]

sprite-position($sprite)
  background-position $sprite[0]  $sprite[1]

sprite($sprite)
  sprite-position($sprite)
  background-repeat no-repeat
  overflow hidden
  display block
  sprite-width($sprite)
  sprite-height($sprite)

.icon
  background-image url('/images/icons-sd.png')

center-sprite($sprite)
    position absolute
    top 20%
    left 50%
    margin-left -1 * (sprite-width($sprite) / 2)

center-hd-sprite($sprite)
  position absolute
  top 10%
  left 50%
  margin-left -1 * (sprite-width($sprite) / 2)


.icon-swatch.account
    @extend .icon
    sprite($account)
    center-sprite($account)
.icon-swatch.add-address
    @extend .icon
    sprite($add-address)
    center-sprite($add-address)
.icon-swatch.add-card
    @extend .icon
    sprite($add-card)
    center-sprite($add-card)
.icon-swatch.adjust-waist
    @extend .icon
    sprite($adjust-waist)
    center-sprite($adjust-waist)
.icon-swatch.amex
    @extend .icon
    sprite($amex)
    center-sprite($amex)
.icon-swatch.arrow-down-small
    @extend .icon
    sprite($arrow-down-small)
    center-sprite($arrow-down-small)
.icon-swatch.arrow-down
    @extend .icon
    sprite($arrow-down)
    center-sprite($arrow-down)
.icon-swatch.arrow-left
    @extend .icon
    sprite($arrow-left)
    center-sprite($arrow-left)
.icon-swatch.arrow-right-small-white
    @extend .icon
    sprite($arrow-right-small-white)
    center-sprite($arrow-right-small-white)
.icon-swatch.arrow-right-small
    @extend .icon
    sprite($arrow-right-small)
    center-sprite($arrow-right-small)
.icon-swatch.arrow-right
    @extend .icon
    sprite($arrow-right)
    center-sprite($arrow-right)
.icon-swatch.arrow-select
    @extend .icon
    sprite($arrow-select)
    center-sprite($arrow-select)
.icon-swatch.arrow-up
    @extend .icon
    sprite($arrow-up)
    center-sprite($arrow-up)
.icon-swatch.attention-yellow
    @extend .icon
    sprite($attention-yellow)
    center-sprite($attention-yellow)
.icon-swatch.attention
    @extend .icon
    sprite($attention)
    center-sprite($attention)
.icon-swatch.austria
    @extend .icon
    sprite($austria)
    center-sprite($austria)
.icon-swatch.baby-changing-alt
    @extend .icon
    sprite($baby-changing-alt)
    center-sprite($baby-changing-alt)
.icon-swatch.baby-changing
    @extend .icon
    sprite($baby-changing)
    center-sprite($baby-changing)
.icon-swatch.belgium
    @extend .icon
    sprite($belgium)
    center-sprite($belgium)
.icon-swatch.british-beef
    @extend .icon
    sprite($british-beef)
    center-sprite($british-beef)
.icon-swatch.calendar
    @extend .icon
    sprite($calendar)
    center-sprite($calendar)
.icon-swatch.car-parking-alt
    @extend .icon
    sprite($car-parking-alt)
    center-sprite($car-parking-alt)
.icon-swatch.car-parking
    @extend .icon
    sprite($car-parking)
    center-sprite($car-parking)
.icon-swatch.check
    @extend .icon
    sprite($check)
    center-sprite($check)
.icon-swatch.close
    @extend .icon
    sprite($close)
    center-sprite($close)
.icon-swatch.collect-by-car-alt
    @extend .icon
    sprite($collect-by-car-alt)
    center-sprite($collect-by-car-alt)
.icon-swatch.collect-by-car
    @extend .icon
    sprite($collect-by-car)
    center-sprite($collect-by-car)
.icon-swatch.collect-in-store
    @extend .icon
    sprite($collect-in-store)
    center-sprite($collect-in-store)
.icon-swatch.comments
    @extend .icon
    sprite($comments)
    center-sprite($comments)
.icon-swatch.communicate
    @extend .icon
    sprite($communicate)
    center-sprite($communicate)
.icon-swatch.confirmation
    @extend .icon
    sprite($confirmation)
    center-sprite($confirmation)
.icon-swatch.contact-phone
    @extend .icon
    sprite($contact-phone)
    center-sprite($contact-phone)
.icon-swatch.contact-post
    @extend .icon
    sprite($contact-post)
    center-sprite($contact-post)
.icon-swatch.contains-nuts
    @extend .icon
    sprite($contains-nuts)
    center-sprite($contains-nuts)
.icon-swatch.crease-resistant
    @extend .icon
    sprite($crease-resistant)
    center-sprite($crease-resistant)
.icon-swatch.creating
    @extend .icon
    sprite($creating)
    center-sprite($creating)
.icon-swatch.cross
    @extend .icon
    sprite($cross)
    center-sprite($cross)
.icon-swatch.cruelty-free
    @extend .icon
    sprite($cruelty-free)
    center-sprite($cruelty-free)
.icon-swatch.dairy-free
    @extend .icon
    sprite($dairy-free)
    center-sprite($dairy-free)
.icon-swatch.delivery-small
    @extend .icon
    sprite($delivery-small)
    center-sprite($delivery-small)
.icon-swatch.delivery
    @extend .icon
    sprite($delivery)
    center-sprite($delivery)
.icon-swatch.discovering
    @extend .icon
    sprite($discovering)
    center-sprite($discovering)
.icon-swatch.disposal-recyl
    @extend .icon
    sprite($disposal-recyl)
    center-sprite($disposal-recyl)
.icon-swatch.download-small
    @extend .icon
    sprite($download-small)
    center-sprite($download-small)
.icon-swatch.download-white
    @extend .icon
    sprite($download-white)
    center-sprite($download-white)
.icon-swatch.download
    @extend .icon
    sprite($download)
    center-sprite($download)
.icon-swatch.easy-iron
    @extend .icon
    sprite($easy-iron)
    center-sprite($easy-iron)
.icon-swatch.eat-well
    @extend .icon
    sprite($eat-well)
    center-sprite($eat-well)
.icon-swatch.eco-factory
    @extend .icon
    sprite($eco-factory)
    center-sprite($eco-factory)
.icon-swatch.edit
    @extend .icon
    sprite($edit)
    center-sprite($edit)
.icon-swatch.email
    @extend .icon
    sprite($email)
    center-sprite($email)
.icon-swatch.error
    @extend .icon
    sprite($error)
    center-sprite($error)
.icon-swatch.expandicuff
    @extend .icon
    sprite($expandicuff)
    center-sprite($expandicuff)
.icon-swatch.facebook
    @extend .icon
    sprite($facebook)
    center-sprite($facebook)
.icon-swatch.fairtrade
    @extend .icon
    sprite($fairtrade)
    center-sprite($fairtrade)
.icon-swatch.france
    @extend .icon
    sprite($france)
    center-sprite($france)
.icon-swatch.freeze-able
    @extend .icon
    sprite($freeze-able)
    center-sprite($freeze-able)
.icon-swatch.freshfeet
    @extend .icon
    sprite($freshfeet)
    center-sprite($freshfeet)
.icon-swatch.full-screen-alt
    @extend .icon
    sprite($full-screen-alt)
    center-sprite($full-screen-alt)
.icon-swatch.full-screen
    @extend .icon
    sprite($full-screen)
    center-sprite($full-screen)
.icon-swatch.germany
    @extend .icon
    sprite($germany)
    center-sprite($germany)
.icon-swatch.gift-small
    @extend .icon
    sprite($gift-small)
    center-sprite($gift-small)
.icon-swatch.gift
    @extend .icon
    sprite($gift)
    center-sprite($gift)
.icon-swatch.gluten-free
    @extend .icon
    sprite($gluten-free)
    center-sprite($gluten-free)
.icon-swatch.google-plus
    @extend .icon
    sprite($google-plus)
    center-sprite($google-plus)
.icon-swatch.imagining
    @extend .icon
    sprite($imagining)
    center-sprite($imagining)
.icon-swatch.info
    @extend .icon
    sprite($info)
    center-sprite($info)
.icon-swatch.instagram
    @extend .icon
    sprite($instagram)
    center-sprite($instagram)
.icon-swatch.int-delivery
    @extend .icon
    sprite($int-delivery)
    center-sprite($int-delivery)
.icon-swatch.investigating
    @extend .icon
    sprite($investigating)
    center-sprite($investigating)
.icon-swatch.italy
    @extend .icon
    sprite($italy)
    center-sprite($italy)
.icon-swatch.jcb
    @extend .icon
    sprite($jcb)
    center-sprite($jcb)
.icon-swatch.loading
    @extend .icon
    sprite($loading)
    center-sprite($loading)
.icon-swatch.loving-the-planet
    @extend .icon
    sprite($loving-the-planet)
    center-sprite($loving-the-planet)
.icon-swatch.luxembourg
    @extend .icon
    sprite($luxembourg)
    center-sprite($luxembourg)
.icon-swatch.maestro
    @extend .icon
    sprite($maestro)
    center-sprite($maestro)
.icon-swatch.mands-budget-card
    @extend .icon
    sprite($mands-budget-card)
    center-sprite($mands-budget-card)
.icon-swatch.mands-change-card
    @extend .icon
    sprite($mands-change-card)
    center-sprite($mands-change-card)
.icon-swatch.mands-credit-card
    @extend .icon
    sprite($mands-credit-card)
    center-sprite($mands-credit-card)
.icon-swatch.mands-debit-card
    @extend .icon
    sprite($mands-debit-card)
    center-sprite($mands-debit-card)
.icon-swatch.map-marker
    @extend .icon
    sprite($map-marker)
    center-sprite($map-marker)
.icon-swatch.mastercard
    @extend .icon
    sprite($mastercard)
    center-sprite($mastercard)
.icon-swatch.menu
    @extend .icon
    sprite($menu)
    center-sprite($menu)
.icon-swatch.mobile
    @extend .icon
    sprite($mobile)
    center-sprite($mobile)
.icon-swatch.more
    @extend .icon
    sprite($more)
    center-sprite($more)
.icon-swatch.netherlands
    @extend .icon
    sprite($netherlands)
    center-sprite($netherlands)
.icon-swatch.new
    @extend .icon
    sprite($new)
    center-sprite($new)
.icon-swatch.no-img-avail
    @extend .icon
    sprite($no-img-avail)
    center-sprite($no-img-avail)
.icon-swatch.non-iron
    @extend .icon
    sprite($non-iron)
    center-sprite($non-iron)
.icon-swatch.open-hours-wait
    @extend .icon
    sprite($open-hours-wait)
    center-sprite($open-hours-wait)
.icon-swatch.open-window
    @extend .icon
    sprite($open-window)
    center-sprite($open-window)
.icon-swatch.pause
    @extend .icon
    sprite($pause)
    center-sprite($pause)
.icon-swatch.payment
    @extend .icon
    sprite($payment)
    center-sprite($payment)
.icon-swatch.phone
    @extend .icon
    sprite($phone)
    center-sprite($phone)
.icon-swatch.physical-dev
    @extend .icon
    sprite($physical-dev)
    center-sprite($physical-dev)
.icon-swatch.pintrest
    @extend .icon
    sprite($pintrest)
    center-sprite($pintrest)
.icon-swatch.play
    @extend .icon
    sprite($play)
    center-sprite($play)
.icon-swatch.print
    @extend .icon
    sprite($print)
    center-sprite($print)
.icon-swatch.prob-solving
    @extend .icon
    sprite($prob-solving)
    center-sprite($prob-solving)
.icon-swatch.pure-cotton
    @extend .icon
    sprite($pure-cotton)
    center-sprite($pure-cotton)
.icon-swatch.reading
    @extend .icon
    sprite($reading)
    center-sprite($reading)
.icon-swatch.ready-to-cook
    @extend .icon
    sprite($ready-to-cook)
    center-sprite($ready-to-cook)
.icon-swatch.ready-to-eat
    @extend .icon
    sprite($ready-to-eat)
    center-sprite($ready-to-eat)
.icon-swatch.recently-viewed
    @extend .icon
    sprite($recently-viewed)
    center-sprite($recently-viewed)
.icon-swatch.recipes
    @extend .icon
    sprite($recipes)
    center-sprite($recipes)
.icon-swatch.returns-policy
    @extend .icon
    sprite($returns-policy)
    center-sprite($returns-policy)
.icon-swatch.saved-items
    @extend .icon
    sprite($saved-items)
    center-sprite($saved-items)
.icon-swatch.scan
    @extend .icon
    sprite($scan)
    center-sprite($scan)
.icon-swatch.scruff-resist
    @extend .icon
    sprite($scruff-resist)
    center-sprite($scruff-resist)
.icon-swatch.search
    @extend .icon
    sprite($search)
    center-sprite($search)
.icon-swatch.serves
    @extend .icon
    sprite($serves)
    center-sprite($serves)
.icon-swatch.shop
    @extend .icon
    sprite($shop)
    center-sprite($shop)
.icon-swatch.shopping-bag
    @extend .icon
    sprite($shopping-bag)
    center-sprite($shopping-bag)
.icon-swatch.sign-in-alt
    @extend .icon
    sprite($sign-in-alt)
    center-sprite($sign-in-alt)
.icon-swatch.sign-in
    @extend .icon
    sprite($sign-in)
    center-sprite($sign-in)
.icon-swatch.size-guide
    @extend .icon
    sprite($size-guide)
    center-sprite($size-guide)
.icon-swatch.spain
    @extend .icon
    sprite($spain)
    center-sprite($spain)
.icon-swatch.stainaway
    @extend .icon
    sprite($stainaway)
    center-sprite($stainaway)
.icon-swatch.star
    @extend .icon
    sprite($star)
    center-sprite($star)
.icon-swatch.stay-new
    @extend .icon
    sprite($stay-new)
    center-sprite($stay-new)
.icon-swatch.store-locator
    @extend .icon
    sprite($store-locator)
    center-sprite($store-locator)
.icon-swatch.stormwear
    @extend .icon
    sprite($stormwear)
    center-sprite($stormwear)
.icon-swatch.supercrease
    @extend .icon
    sprite($supercrease)
    center-sprite($supercrease)
.icon-swatch.tablet-hand
    @extend .icon
    sprite($tablet-hand)
    center-sprite($tablet-hand)
.icon-swatch.tag-sale
    @extend .icon
    sprite($tag-sale)
    center-sprite($tag-sale)
.icon-swatch.thinking
    @extend .icon
    sprite($thinking)
    center-sprite($thinking)
.icon-swatch.tick
    @extend .icon
    sprite($tick)
    center-sprite($tick)
.icon-swatch.toilet-alt
    @extend .icon
    sprite($toilet-alt)
    center-sprite($toilet-alt)
.icon-swatch.toilet
    @extend .icon
    sprite($toilet)
    center-sprite($toilet)
.icon-swatch.top-review
    @extend .icon
    sprite($top-review)
    center-sprite($top-review)
.icon-swatch.twitter
    @extend .icon
    sprite($twitter)
    center-sprite($twitter)
.icon-swatch.uk
    @extend .icon
    sprite($uk)
    center-sprite($uk)
.icon-swatch.vegetarian
    @extend .icon
    sprite($vegetarian)
    center-sprite($vegetarian)
.icon-swatch.visa-electron
    @extend .icon
    sprite($visa-electron)
    center-sprite($visa-electron)
.icon-swatch.visa
    @extend .icon
    sprite($visa)
    center-sprite($visa)
.icon-swatch.writing
    @extend .icon
    sprite($writing)
    center-sprite($writing)
.icon-swatch.youtube
    @extend .icon
    sprite($youtube)
    center-sprite($youtube)
.icon-swatch.zoom-alt
    @extend .icon
    sprite($zoom-alt)
    center-sprite($zoom-alt)
.icon-swatch.zoom-out
    @extend .icon
    sprite($zoom-out)
    center-sprite($zoom-out)
.icon-swatch.zoom
    @extend .icon
    sprite($zoom)
    center-sprite($zoom)
