element-example-layout()
	main#examples
		center(pad: 10px)

	main#examples section
		col(1/2, cycle: 2)
		margin-bottom 4%
		background white
		border 1px solid lightgrey
		border-radius 4px
		padding 0
		position relative

		+below(medium)
			stack()
			margin-bottom 10px
		
		> header
			margin 0
			center 100%
			border-bottom 1px solid lightgrey
			> * 
				margin 10px 0
				
		ul
			col(1/2 1/3)
			

	attribute-list
		margin 0 2%

	element-example
		margin 40px 2% 20px 
		
		example-title
			col(1/3)
			@extend p
			@extend strong
			line-height 40px
			text-align left
			
		example-container
			col(2/3)
			text-align left
			
truncate-text()
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;