promo-banner
	center(pad: 10px)
	margin-top 50px
	margin-bottom 32px
	display block
	border 1px solid red
	
	> p
		color red
		font-size 18px
		
// ------------------------------------------------------------------

@import "promos-headers.styl"

#promos
	hero-promo-right
		promo-image-placeholder
			background-image url(/images/promo-1.jpg)
			+below(682)
				background-position center left
		
	hero-promo-left
		promo-image-placeholder
			background-image url(/images/promo-2.jpg)
			+below(682)
				background-position center right	
		

#heroes
	hero-promo-left
		promo-image-placeholder
			background-image url(/images/hero-full-width.jpg)
			+below(682)
				background-position center right	
				

// ------------------------------------------------------------------

@import "promos-headers-small.styl"

#heroes
	small-promo-left
		promo-image-placeholder
			background-image url(/images/hero-full-width-small.jpg)
			+below(682)
				background-position center right