promo-banner
	center(pad: 10px)
	margin-top 50px
	margin-bottom 32px
	display block
	border 1px solid red
	
	> p
		color red
		font-size 18px

// ---------------------------------------------------------

$hero-promo
	center()
	text-align left
	background-size cover
	position relative
	margin-top 5%

	
	
	promo-image-placeholder
		display block
		position absolute
		top 0
		left 0
		right 0
		padding-bottom 35.15%
		height 35.15%
		background-size cover
		
		+below(682px)
			padding-bottom 65%
		
	promo-copy
		h1
			text-transform none
			color #fff

		p 
			color #fff	
			
		promo-cta
			display block
			ul 
				inline-list true
				li 
					margin-right 10px
					margin-bottom 10px

		&:nth-child(odd)
			position absolute
			top 0
			bottom 0
			width 40%

			h1
				text-transform none
				color #fff
				
				+below(1130px)
					font-size 40px
					line-height 40px
					
				+below(910px)
					margin-top 20%
					
				+below(750px)
					display none
			p 
				color #fff
				+below(910px)
					display none
					
			promo-cta
				+below(750px)
					margin-top 40%
					
				+below(682px)
					display none
					
		&:nth-child(even)
			display block
			position relative
			width 100%
			top 0
			left 0
			padding-top 35.15%
			padding-left 10px
			padding-right 10px
			
			a 
				display inline-block
				padding-bottom 10px
				border none
				

			h1, p,  promo-cta
				display none
				color darkgrey
				
			+below(910px)
				p
					display block
					border-bottom 1px solid mediumgrey
					padding-bottom 10px
					
			+below(750px)
				h1
					display block
					margin 2% 0
					font-size 40px
					
			+below(682px)
				padding-top 65%
				promo-cta
					display block
					border-bottom 1px solid mediumgrey
				
				h1
					font-size 28px
					line-height 28px
					
					
// ---------------------------------------------------------

hero-promo-right
	@extend $hero-promo
	promo-image-placeholder
		background-image url(/images/promo-1.jpg)
		+below(682)
			background-position center left
	
	promo-copy
		left 55%
	
hero-promo-left
	@extend $hero-promo
	promo-image-placeholder
		background-image url(/images/promo-2.jpg)
		+below(682)
			background-position center right	
		
	promo-copy
		left 5%
	