// breakpoints
xsmall = 400px
small = 600px
medium = 800px
large = 1050px
xlarge = 1800px

/*
NOTE: For `gulp serve` users....
Changes to Jeet settings will not automatically appear
when using the `gulp serve` task. To see the changes,
trigger a reload by editing index.styl
*/
jeet['max-width'] = 1200px
jeet['parent-first'] = true