video-example
	
	display block
	position relative
	
	&:after
		content ''
		display block
		@extend .icon
		sprite($play-big)
		position absolute
		center-sprite($play-big)
		top 50%
		margin-top -25px